@model WebApplicationLocamer.Models.Type_tarif

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Type_tarif</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.libelle_Ttarif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libelle_Ttarif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prixJour_Ttarif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prixJour_Ttarif)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_Ttarif }) |
    @Html.ActionLink("Back to List", "Index")
</p>
