@model WebApplicationLocamer.Models.Type_sejour

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Type_sejour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.libelle_Tsejour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libelle_Tsejour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coefficient_Tsejour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coefficient_Tsejour)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_Tsejour }) |
    @Html.ActionLink("Back to List", "Index")
</p>
