@model IEnumerable<WebApplicationLocamer.Models.Type_sejour>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.libelle_Tsejour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.coefficient_Tsejour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.libelle_Tsejour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coefficient_Tsejour)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Tsejour }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Tsejour }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Tsejour })
        </td>
    </tr>
}

</table>
